extends layout.jade
block content
    section#about.about-area.section-padding
        .container
            .row
                .col-xs-12.col-md-6.col-text-center
                    .section-title.about-title.text-center
                        h3 About Me
                        .shape
                            img(src='/public/img/icon/t-shape.png', alt='Title Shape')
            .row
                .col-xs-12.col-sm-9.col-md-2
                    .about-img
                        img(src='/public/img/about/1.jpg', alt='')
                .col-xs-12.col-sm-12.col-md-10
                    .about-text
                        | Thuan Nguyen is the broker and founder of Loan Factory, Inc.
                        br
                        | With less than 10 years of experience, he has built one of the largest mortgage brokerages in the country.
                        br
                        | He has personally closed over 1000 loans in 2016 and over 3000 loans in his career.
    section#contact
        .container
            .about-text
                h3 Send Message
            .row
                .contact-form.clearfix
                    form(action='sendMessage', method='post')
                        .col-sm-6
                            .input-text
                                input(type='text', name='name', placeholder='Your Name')
                        .col-sm-6
                            .input-text
                                input(type='text', name='email', placeholder='Email', required='')
                        .col-xs-12
                            .input-text
                                input(type='text', name='subject', placeholder='Subject')
                        .col-xs-12
                            .input-text
                                textarea(name='message', placeholder='Message', rows='4')
                        .col-xs-12
                            .submit-text
                                input(type='submit', name='submit', value='Send')

    block script
        style.
            #about {
                margin-top: 150px;
            }