extends layout.jade
block content
    section#about.about-area.section-padding
        .container
            .row
                .col-xs-12.col-md-6.col-text-center
                    .section-title.about-title.text-center
                        h3 About Me
                        .shape
                            img(src='/public/img/icon/t-shape.png', alt='Title Shape')
            .row
                .col-xs-12.col-sm-9.col-md-2
                    .about-img
                        img(src='/public/img/about/1.jpg', alt='')
                .col-xs-12.col-sm-12.col-md-10
                    .about-text
                        p
                            | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Lorem  Lorem  The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
                        br
                        p
                            | making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years,
    section#contact
        .container
            .about-text
                h3 Send Message
            .row
                .contact-form.clearfix
                    form(action='sendMessage', method='post')
                        .col-sm-6
                            .input-text
                                input(type='text', name='name', placeholder='Your Name')
                        .col-sm-6
                            .input-text
                                input(type='text', name='email', placeholder='Email', required='')
                        .col-xs-12
                            .input-text
                                input(type='text', name='subject', placeholder='Subject')
                        .col-xs-12
                            .input-text
                                textarea(name='message', placeholder='Message', rows='4')
                        .col-xs-12
                            .submit-text
                                input(type='submit', name='submit', value='Send')

    block script
        style.
            #about {
                margin-top: 150px;
            }