extends layout.jade
block links
block content
    .container#class-manager

    block script
        style.
            #class-manager {
                margin-top: 150px;
            }

            .btn {
                margin-top: 5px;
            }

            #table {
                margin-bottom: 150px;
            }
        script.
            function register(code) {
                if (user && user.code) {

                } else {

                }
            }

