extends layout.jade
block content
    section#forgot.login-page.section-padding
        #{forgotMess}
        .container
            .row
                .col-xs-12.col-md-6.col-text-center
                    .section-title.about-title.text-center
                        h3 Reset Password
                        .shape
                            img(src='/public/img/icon/t-shape.png', alt='Title Shape')
            .row
                .col-sm-6
                    .row
                        .single-check
                            form(action='/forgot', method='post')
                                .single-input.p-bottom50.clearfix
                                    .col-xs-12
                                        .check-title
                                            h3 Forgot Password
                                    .col-xs-12
                                        label Email:
                                        .input-text
                                            input(type='text', name='email' value=email || '')
                                        .submit-text
                                            input(type='submit', name='submit', value='Reset Password')

    block script
        style.
            #forgot {
                margin-top: 150px;
            }