extends layout.jade
block links
block content
        header#intro
            .container
                .table
                    .header-text
                        .row
                            .col-md-12.text-center
                                h1.white.typed Loan Originating classes from the best broker in town.
                                span.typed-cursor |
        section
            .cut.cut-top
            .container
                .row.intro-tables
                    .col-md-6
                        .intro-table.intro-table-first
                            h5.white.heading Today's Schedule
                            .owl-carousel.owl-schedule.bottom
                                .item
                                    .schedule-row.row
                                        .col-xs-6
                                            h5.regular.white Early Exercise
                                        .col-xs-6.text-right
                                            h5.white 8:30 - 10:00
                                    .schedule-row.row
                                        .col-xs-6
                                            h5.regular.white Muscle Building
                                        .col-xs-6.text-right
                                            h5.white 8:30 - 10:00
                                    .schedule-row.row
                                        .col-xs-6
                                            h5.regular.white Cardio
                                        .col-xs-6.text-right
                                            h5.white 8:30 - 10:00
                                .item
                                    .schedule-row.row
                                        .col-xs-6
                                            h5.regular.white Early Exercise
                                        .col-xs-6.text-right
                                            h5.white 8:30 - 10:00
                                    .schedule-row.row
                                        .col-xs-6
                                            h5.regular.white Muscle Building
                                        .col-xs-6.text-right
                                            h5.white 8:30 - 10:00
                                    .schedule-row.row
                                        .col-xs-6
                                            h5.regular.white Cardio
                                        .col-xs-6.text-right
                                            h5.white 8:30 - 10:00
                                .item
                                    .schedule-row.row
                                        .col-xs-6
                                            h5.regular.white Early Exercise
                                        .col-xs-6.text-right
                                            h5.white 8:30 - 10:00
                                    .schedule-row.row
                                        .col-xs-6
                                            h5.regular.white Muscle Building
                                        .col-xs-6.text-right
                                            h5.white 8:30 - 10:00
                                    .schedule-row.row
                                        .col-xs-6
                                            h5.regular.white Cardio
                                        .col-xs-6.text-right
                                            h5.white 8:30 - 10:00
                    .col-md-6
                        .intro-table.intro-table-third
                            h5.white.heading Happy Clients
                            .owl-testimonials.bottom
                                .item
                                    h4.white.heading.content I couldn't be more happy with the results!
                                    h5.white.heading.light.author Adam Jordan
                                .item
                                    h4.white.heading.content I can't believe how much better I feel!
                                    h5.white.heading.light.author Greg Pardon
                                .item
                                    h4.white.heading.content Incredible transformation and I feel so healthy!
                                    h5.white.heading.light.author Christina Goldman
        section#services.section.section-padded
            .container
                .row.text-center.title
                    h2 Classes
                .row.services
                    .col-md-4
                        .service
                            .icon-holder
                                img.icon(src='/public/img/icons/heart-blue.png', alt='')
                            h4.heading LO Originating 001
                            p.description
                                | A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque a aenean hac montes.
                    .col-md-4
                        .service
                            .icon-holder
                                img.icon(src='/public/img/icons/guru-blue.png', alt='')
                            h4.heading LO Originating 002
                            p.description
                                | A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque a aenean hac montes.
                    .col-md-4
                        .service
                            .icon-holder
                                img.icon(src='/public/img/icons/weight-blue.png', alt='')
                            h4.heading Power Training
                            p.description
                                | A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque a aenean hac montes.
            .cut.cut-bottom
        section#team.section.gray-bg
            .container
                .row.title.text-center
                    h2.margin-top Your Instructor
                    h4.light.muted One of the top broker in the country
                .row
                    .col-md-4
                    .col-md-4
                        .team.text-center
                            .cover(style="background:url('/public/img/team/team-cover2.jpg'); background-size:cover;")
                                .overlay.text-center
                                    h3.white $69.00
                                    h5.light.light-white 1 - 5 sessions / month
                            img.avatar(src='/public/img/team/team1.jpg', alt='Team Image')
                            .title
                                h4 Eva Williams
                                h5.muted.regular Personal Trainer
                            a.btn.btn-blue-fill.ripple(href='#', data-toggle='modal', data-target='#modal1') Sign Up Now
                    .col-md-4
        block script

