extends layout.jade
block content
    // slider section start
    .slider-area.slider-one.clearfix
        #mainslider.slider
            div(data-src='/public/img/slider/1.jpg')
                .d-table
                    .d-tablecell
                        .container
                            .row
                                .col-xs-12
                                    .slide-text
                                        h1.animated.fadeInDown best cycling experience
                                        .shape.animated.flipInX
                                            img(src='/public/img/slider/shape.png', alt='')
                                        h4.animated.fadeIn become the world leader on the internet for the sport of cycling.
    section#class.cart-page.section-padding
        .container
            .row
                .col-xs-12
                    .table-responsive.table-one.margin-minus.section-padding-bottom
                        section.featured-area.featured-one.section-padding
                            .container
                                .row
                                    .col-xs-12.col-sm-8.col-md-6.col-text-center
                                        .section-title.text-center
                                            h3
                                                span Loan Originator
                                                |  Classes
                                            .shape
                                                img(src='/public/img/icon/t-shape.png', alt='Title Shape')
                                            p
                                                | We expect that you should be able to obtain the NMLS Loan Originator license.  Loan Factory will focus on the practical training that will help you become a successful Loan Originator.  Therefore, there will be two classes:
                                .row.text-center
                                    section#services.section.section-padded
                                        .container
                                            .row.services
                                                .col-md-5
                                                    .service
                                                        .icon-holder
                                                            img.icon(src='/public/img/icon/house.png', alt='')
                                                        h4.heading
                                                            a(href='/classes?tab=1') Pre-license Education Class
                                                        p.description
                                                            | Some description about Pre-license Education Class
                                                .col-md-2
                                                    .service-middle
                                                        .icon-holder
                                                            img
                                                        h4.section-title.text-center AND
                                                .col-md-5
                                                    .service
                                                        .icon-holder
                                                            img.icon(src='/public/img/icon/house.png', alt='')
                                                        h4.heading
                                                                a(href='/classes?tab=2') Practical Training Class
                                                        p.description
                                                            | Some description about Practical Training Class
                                        .cut.cut-bottom




