extends layout.jade
block content
    // slider section start
    .slider-area.slider-one.clearfix
        #mainslider.slider
            div(data-src='/public/img/slider/1.jpg')
                .d-table
                    .d-tablecell
                        .container
                            .row
                                .col-xs-12
                                    .slide-text
                                        h1.animated.fadeInDown best cycling experience
                                        .shape.animated.flipInX
                                            img(src='/public/img/slider/shape.png', alt='')
                                        h4.animated.fadeIn become the world leader on the internet for the sport of cycling.
    section#class.cart-page.section-padding
        .container
            .row
                .col-xs-12
                    .table-responsive.table-one.margin-minus.section-padding-bottom
                        .section-title.text-center
                            h3
                                span LOAN PROCESSING
                                |  CLASSES
                            .actions-btn
                                    a.shop-btn(href='/classes') View Classes

    section.blog-area.blog-one.section-padding
        .container
            .row
                .col-xs-12.col-sm-8.col-md-6.col-text-center
                    .section-title.text-center
                        h3
                            span FROM
                            |  BLOG
                        .shape
                            img(src='/public/img/icon/t-shape.png', alt='Title Shape')
            .row
                each post, index in posts || []
                    .col-xs-12.col-sm-6.col-md-4
                        .blog-item
                            .blog-img
                                a(href='product-details.html')
                                    img(src='/public/img/blog/1.jpg', alt='Blog')
                            .blog-text.clearfix
                                hr.line
                                a(href='single-blog.html')
                                    h4 Lights & Motion Night Light
                                p
                                    span 15 dec
                                p
                                    | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form...
                                .view-more
                                    a.shop-btn(href='single-blog.html') View More
