extends layout.jade
block content
    // slider section start
    .slider-area.slider-one.clearfix
        #mainslider.slider
            div(data-src='/public/img/slider/1.jpg')
                .d-table
                    .d-tablecell.background-shadow
                        .container
                            .row
                                .col-xs-12
                                    .slide-text
                                        h1.animated.fadeInDown Best learning experience
                                        .shape.animated.flipInX
                                            img(src='/public/img/slider/shape.png', alt='')
                                        h4.animated.fadeIn
            div(data-src='/public/img/slider/2.jpg')
                .d-table
                    .d-tablecell.background-shadow
                        .container
                            .row
                                .col-xs-12
                                    .slide-text
                                        h1.animated.fadeInDown From the best broker in town
                                        .shape.animated.flipInX
                                            img(src='/public/img/slider/shape.png', alt='')
                                        h4.animated.fadeIn
            div(data-src='/public/img/slider/3.jpg')
                .d-table
                    .d-tablecell.background-shadow
                        .container
                            .row
                                .col-xs-12
                                    .slide-text
                                        h1.animated.fadeInDown Using real world scenarios
                                        .shape.animated.flipInX
                                            img(src='/public/img/slider/shape.png', alt='')
                                        h5.animated.fadeIn
    section#class.cart-page.section-padding
        .container
            .row
                .col-xs-12
                    .table-responsive.table-one.margin-minus.section-padding-bottom
                        section.featured-area.featured-one.section-padding
                            .container
                                .row
                                    .col-xs-12.col-sm-8.col-md-6.col-text-center
                                        .section-title.text-center
                                            h3
                                                span Loan Originator
                                                |  Classes
                                            .shape
                                                img(src='/public/img/icon/t-shape.png', alt='Title Shape')
                                            p
                                                | If you do not have loan originator license, you need to take the two classes below. We recommend you to finish the Pre-license Education Class before taking the Loan Factory Practical Training Class
                                .row.text-center
                                    section#services.section.section-padded
                                        .container
                                            .row.services
                                                .col-md-5
                                                    a(href='/classes?tab=1')
                                                        .service
                                                            .icon-holder
                                                                img.icon(src='/public/img/icon/house.png', alt='')
                                                            h4.heading Pre-license Education Class

                                                            p.description Click to view the class details
                                                .col-md-2
                                                    .service-middle
                                                        .icon-holder
                                                            img
                                                        i.fa.fa-3x.fa-plus
                                                .col-md-5
                                                    a(href='/classes?tab=2')
                                                        .service
                                                            .icon-holder
                                                                img.icon(src='/public/img/icon/house.png', alt='')
                                                            h4.heading LOAN FACTORY PRACTICAL TRAINING CLASS

                                                            p.description Click to view the class details

                                        .cut.cut-bottom




