extends layout.jade
block content
    section#info.about-area.section-padding
        .container
            .container
                .col-lg-8.col-lg-offset-2.text-center
                    .logo
                        h4 #{message}

    block script
        style.
            #info {
                margin-top: 150px;
            }


