extends layout.jade
block content
    section#login.login-page.section-padding
        .container
            .row
                .col-sm-12
                    .row
                        .single-check
                            form(action='/login', method='post')
                                .single-input.p-bottom50.clearfix

                                    .col-xs-12
                                        .check-title
                                            h3 Login
                                            p.err #{loginMess}
                                    .col-xs-12
                                        label Email:
                                        .input-text
                                            input(type='text', name='email')
                                    .col-xs-12
                                        label Password:
                                        .input-text
                                            input(type='password', name='password')
                                    .col-xs-12
                                        .forget
                                            a(href='/forgot') Forgot your password?
                                    .col-xs-12
                                        .submit-text
                                            input(type='submit', name='submit', value='Login')

    block script
        style.
            #login {
                margin-top: 150px;
            }

        script.
            var info = !{JSON.stringify(info)}
            if (info && info.length > 0) {
                $.alert({
                    title: "Thank you",
                    content: info
                });
            }