extends layout.jade
block content
    section#login.login-page.section-padding
        .container
            .row
                .col-sm-6
                    .row
                        .single-check
                            form(action='/login', method='post')
                                p #{loginMess}
                                .single-input.p-bottom50.clearfix
                                    .col-xs-12
                                        .check-title
                                            h3 Login

                                    .col-xs-12
                                        label Email:
                                        .input-text
                                            input(type='text', name='email')
                                    .col-xs-12
                                        label Password:
                                        .input-text
                                            input(type='password', name='password')
                                    .col-xs-12
                                        .forget
                                            a(href='/forgot') Forget your password?
                                    .col-xs-12
                                        .submit-text
                                            input(type='submit', name='submit', value='Login')
                .col-sm-6
                    .single-input.p-bottom50.clearfix
                        form#register_form(action='/register', method='post')
                            p #{registerMess}
                            .row
                                .col-xs-4
                                    .check-title
                                        h3 Sign Up
                            .row
                                .col-sm-4
                                    label First Name:
                                    .input-text
                                        input#first_name(type='text', name='first_name', required)
                                .col-sm-4
                                    label Middle Name:
                                    .input-text
                                        input#middle_name(type='text', name='middle_name')
                                .col-sm-4
                                    label Last Name:
                                    .input-text
                                        input#last_name(type='text', name='last_name', required)
                            .row
                                .col-sm-6
                                    label Email:
                                    .input-text
                                        input#email(type='email', name='email', required)
                                .col-sm-6
                                    label Phone:
                                    .input-text
                                        input#phone(type='text', name='phone')
                                .col-sm-6
                                    label Street:
                                    .input-text
                                        input#street(type='text', name='street')
                                .col-sm-6
                                    label Zip code:
                                    .input-text
                                        input#zip(type='number', name='zip')
                                .col-sm-6
                                    label Originator NMLS Number:
                                    .input-text
                                        input#nmls(type='text', name='LOLicenseNumber')
                                .col-sm-6
                                    label Real Estate License Number:
                                    .input-text
                                        input#RELicenseNumber(type='text', name='RELicenseNumber')
                                .col-xs-12
                                    label Password:
                                    .input-text
                                        input#password(type='password', name='password', required)
                                .col-xs-12
                                    .billing-checkbox
                                        input#subscribe.checkbox(type='checkbox', name='subscribe', value='1')
                                        label Subscribe to our newsletters
                                    .submit-text
                                        input#submitButton(type='submit', value='Register')

    block script
        style.
            #login {
                margin-top: 150px;
            }

        script.
            var hideRegister = !{JSON.stringify(hideRegister)}
            if (hideRegister) {
                $('#register_form').hide();
            }