extends email_layout.jade
block content
    tr(mc:hideable='')
        td(align='center', valign='top')
            table(border='0', cellpadding='0', cellspacing='0', width='100%')
                tr
                    td(align='center', valign='top')
                        table.flexibleContainer(border='0', cellpadding='30', cellspacing='0', width='500')
                            tr
                                td.flexibleContainerCell(valign='top', width='500')
                                    table(border='0', cellpadding='0', cellspacing='0', width='100%')
                                        tr
                                            td.textContent(valign='top')
                                                div(mc:edit='body', style='text-align:left;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;color:#5F5F5F;line-height:135%;')
                                                    p
                                                        | Dear #{name},
                                                    br
                                                    p
                                                        | Thank you for your registration.  Below is your class information:
                                                    br
                                                    br
                                                    | Class Name: Loan Factory Class
                                                    br
                                                    | Location: #{location}
                                                    br
                                                    | Date and Time: #{datetime}
                                                    br
                                                    | Instructor: Thuan Nguyen
                                                    br
                                                    | Instructor Phone: (408) 444-9999
                                                    br
                                                    br
                                                    | The fee for the class is $221 and due on the date of the class.
                                                    br
                                                    | Please click in the button below to access the class online as well as to activate your account
                                                    br
                                                    | Please do not hesitate to contact me if you have any questions.
                                                    br
                                                    p
                                                    | Sincerely Yours,
                                                    br
                                                    | Thuan Nguyen

    tr
        td(align='center', valign='top')
            table(border='0', cellpadding='0', cellspacing='0', width='100%')
                tr(style='padding-top:0;')
                    td(align='center', valign='top')
                        table.flexibleContainer(border='0', cellpadding='30', cellspacing='0', width='500')
                            tr
                                td.flexibleContainerCell(style='padding-top:0;', align='center', valign='top', width='500')
                                    table.emailButton(border='0', cellpadding='0', cellspacing='0', width='50%', style='background-color: rgb(243,123,1);')
                                        tr
                                            td.buttonContent(align='center', valign='middle', style='padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;')
                                                a(style='color:#FFFFFF;text-decoration:none;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:135%;', href=url, target='_blank') View Class

