doctype strict
html(xmlns='http://www.w3.org/1999/xhtml')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='format-detection', content='telephone=no')
        // disable auto telephone linking in iOS
        title
            | Respmail is a response HTML email designed to work on all major email platforms and smartphones
        style(type='text/css').
            /* RESET STYLES */
            html {
                background-color: #E1E1E1;
                margin: 0;
                padding: 0;
            }
            body, #bodyTable, #bodyCell, #bodyCell {
                height: 100% !important;
                margin: 0;
                padding: 0;
                width: 100% !important;
                font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
            }
            table {
                border-collapse: collapse;
            }
            table[id=bodyTable] {
                width: 100% !important;
                margin: auto;
                max-width: 500px !important;
                color: #7A7A7A;
                font-weight: normal;
            }
            img, a img {
                border: 0;
                outline: none;
                text-decoration: none;
                height: auto;
                line-height: 100%;
            }
            a {
                text-decoration: none !important;
                border-bottom: 1px solid;
            }
            h1, h2, h3, h4, h5, h6 {
                color: #5F5F5F;
                font-weight: normal;
                font-family: Helvetica;
                font-size: 20px;
                line-height: 125%;
                text-align: Left;
                letter-spacing: normal;
                margin-top: 0;
                margin-right: 0;
                margin-bottom: 10px;
                margin-left: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0;
            }
            /* CLIENT-SPECIFIC STYLES */
            .ReadMsgBody {
                width: 100%;
            }
            .ExternalClass {
                width: 100%;
            }
            /* Force Hotmail/Outlook.com to display emails at full width. */
            .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
                line-height: 100%;
            }
            /* Force Hotmail/Outlook.com to display line heights normally. */
            table, td {
                mso-table-lspace: 0pt;
                mso-table-rspace: 0pt;
            }
            /* Remove spacing between tables in Outlook 2007 and up. */
            #outlook a {
                padding: 0;
            }
            /* Force Outlook 2007 and up to provide a "view in browser" message. */
            img {
                -ms-interpolation-mode: bicubic;
                display: block;
                outline: none;
                text-decoration: none;
            }
            /* Force IE to smoothly render resized images. */
            body, table, td, p, a, li, blockquote {
                -ms-text-size-adjust: 100%;
                -webkit-text-size-adjust: 100%;
                font-weight: normal !important;
            }
            /* Prevent Windows- and Webkit-based mobile platforms from changing declared text sizes. */
            .ExternalClass td[class="ecxflexibleContainerBox"] h3 {
                padding-top: 10px !important;
            }
            /* Force hotmail to push 2-grid sub headers down */
            /* /\/\/\/\/\/\/\/\/ TEMPLATE STYLES /\/\/\/\/\/\/\/\/ */
            /* ========== Page Styles ========== */
            h1 {
                display: block;
                font-size: 26px;
                font-style: normal;
                font-weight: normal;
                line-height: 100%;
            }
            h2 {
                display: block;
                font-size: 20px;
                font-style: normal;
                font-weight: normal;
                line-height: 120%;
            }
            h3 {
                display: block;
                font-size: 17px;
                font-style: normal;
                font-weight: normal;
                line-height: 110%;
            }
            h4 {
                display: block;
                font-size: 18px;
                font-style: italic;
                font-weight: normal;
                line-height: 100%;
            }
            .flexibleImage {
                height: auto;
            }
            .linkRemoveBorder {
                border-bottom: 0 !important;
            }
            table[class=flexibleContainerCellDivider] {
                padding-bottom: 0 !important;
                padding-top: 0 !important;
            }
            body, #bodyTable {
                background-color: #E1E1E1;
            }
            #emailHeader {
                background-color: #E1E1E1;
            }
            #emailBody {
                background-color: #FFFFFF;
            }
            #emailFooter {
                background-color: #E1E1E1;
            }
            .nestedContainer {
                background-color: #F8F8F8;
                border: 1px solid #CCCCCC;
            }
            .emailButton {
                background-color: #205478;
                border-collapse: separate;
            }
            .buttonContent {
                color: #FFFFFF;
                font-family: Helvetica;
                font-size: 18px;
                font-weight: bold;
                line-height: 100%;
                padding: 15px;
                text-align: center;
            }
            .buttonContent a {
                color: #FFFFFF;
                display: block;
                text-decoration: none !important;
                border: 0 !important;
            }
            .emailCalendar {
                background-color: #FFFFFF;
                border: 1px solid #CCCCCC;
            }
            .emailCalendarMonth {
                background-color: #205478;
                color: #FFFFFF;
                font-family: Helvetica, Arial, sans-serif;
                font-size: 16px;
                font-weight: bold;
                padding-top: 10px;
                padding-bottom: 10px;
                text-align: center;
            }
            .emailCalendarDay {
                color: #205478;
                font-family: Helvetica, Arial, sans-serif;
                font-size: 60px;
                font-weight: bold;
                line-height: 100%;
                padding-top: 20px;
                padding-bottom: 20px;
                text-align: center;
            }
            .imageContentText {
                margin-top: 10px;
                line-height: 0;
            }
            .imageContentText a {
                line-height: 0;
            }
            #invisibleIntroduction {
                display: none !important;
            }
            /* Removing the introduction text from the view */
            /*FRAMEWORK HACKS & OVERRIDES */
            span[class=ios-color-hack] a {
                color: #275100 !important;
                text-decoration: none !important;
            }
            /* Remove all link colors in IOS (below are duplicates based on the color preference) */
            span[class=ios-color-hack2] a {
                color: #205478 !important;
                text-decoration: none !important;
            }
            span[class=ios-color-hack3] a {
                color: #8B8B8B !important;
                text-decoration: none !important;
            }
            /* A nice and clean way to target phone numbers you want clickable and avoid a mobile phone from linking other numbers that look like, but are not phone numbers.  Use these two blocks of code to "unstyle" any numbers that may be linked.  The second block gives you a class to apply with a span tag to the numbers you would like linked and styled.
            Inspired by Campaign Monitor's article on using phone numbers in email: http://www.campaignmonitor.com/blog/post/3571/using-phone-numbers-in-html-email/.
            */
            .a[href^="tel"], a[href^="sms"] {
                text-decoration: none !important;
                color: #606060 !important;
                pointer-events: none !important;
                cursor: default !important;
            }
            .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
                text-decoration: none !important;
                color: #606060 !important;
                pointer-events: auto !important;
                cursor: default !important;
            }
            /* MOBILE STYLES */
            @media only screen and (max-width: 480px) {
                /*////// CLIENT-SPECIFIC STYLES //////*/
                body {
                    width: 100% !important;
                    min-width: 100% !important;
                }
                /* Force iOS Mail to render the email at full width. */
                /* FRAMEWORK STYLES */
                /*
                CSS selectors are written in attribute
                selector format to prevent Yahoo Mail
                from rendering media query styles on
                desktop.
                */
                /*td[class="textContent"], td[class="flexibleContainerCell"] { width: 100%; padding-left: 10px !important; padding-right: 10px !important; }*/
                table[id="emailHeader"],
                table[id="emailBody"],
                table[id="emailFooter"],
                table[class="flexibleContainer"],
                td[class="flexibleContainerCell"] {
                    width: 100% !important;
                }
                td[class="flexibleContainerBox"], td[class="flexibleContainerBox"] table {
                    display: block;
                    width: 100%;
                    text-align: left;
                }
                /*
                The following style rule makes any
                image classed with 'flexibleImage'
                fluid when the query activates.
                Make sure you add an inline max-width
                to those images to prevent them
                from blowing out.
                */
                td[class="imageContent"] img {
                    height: auto !important;
                    width: 100% !important;
                    max-width: 100% !important;
                }
                img[class="flexibleImage"] {
                    height: auto !important;
                    width: 100% !important;
                    max-width: 100% !important;
                }
                img[class="flexibleImageSmall"] {
                    height: auto !important;
                    width: auto !important;
                }
                /*
                Create top space for every second element in a block
                */
                table[class="flexibleContainerBoxNext"] {
                    padding-top: 10px !important;
                }
                /*
                Make buttons in the email span the
                full width of their container, allowing
                for left- or right-handed ease of use.
                */
                table[class="emailButton"] {
                    width: 100% !important;
                }
                td[class="buttonContent"] {
                    padding: 0 !important;
                }
                td[class="buttonContent"] a {
                    padding: 15px !important;
                }
            }
            /*  CONDITIONS FOR ANDROID DEVICES ONLY
            *   http://developer.android.com/guide/webapps/targeting.html
            *   http://pugetworks.com/2011/04/css-media-queries-for-targeting-different-mobile-devices/ ;
            =====================================================*/
            @media only screen and (-webkit-device-pixel-ratio: .75) {
                /* Put CSS for low density (ldpi) Android layouts in here */
            }
            @media only screen and (-webkit-device-pixel-ratio: 1) {
                /* Put CSS for medium density (mdpi) Android layouts in here */
            }
            @media only screen and (-webkit-device-pixel-ratio: 1.5) {
                /* Put CSS for high density (hdpi) Android layouts in here */
            }
            /* end Android targeting */
            /* CONDITIONS FOR IOS DEVICES ONLY
            =====================================================*/
            @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
            }
            /* end IOS targeting */
        style(type='text/css').
            .flexibleContainer {
                display: block !important;
                width: 100% !important;
            }
        style(type='text/css').
            .flexibleContainer {
                display: block !important;
                width: 100% !important;
            }
    body(bgcolor='#E1E1E1', leftmargin='0', marginwidth='0', topmargin='0', marginheight='0', offset='0')
        center(style='background-color:#E1E1E1;')
            table#bodyTable(border='0', cellpadding='0', cellspacing='0', height='100%', width='100%', style='table-layout: fixed;max-width:100% !important;width: 100% !important;min-width: 100% !important;')
                tr
                    td#bodyCell(align='center', valign='top')
                        table#emailHeader(bgcolor='#E1E1E1', border='0', cellpadding='0', cellspacing='0', width='500')
                            tr
                                td(align='center', valign='top')
                                    // CENTERING TABLE //
                                    table(border='0', cellpadding='0', cellspacing='0', width='100%')
                                        tr
                                            td(align='center', valign='top')
                                                // FLEXIBLE CONTAINER //
                                                table.flexibleContainer(border='0', cellpadding='10', cellspacing='0', width='500')
                                                    tr
                                                        td.flexibleContainerCell(valign='top', width='500')
                                                            table(align='left', border='0', cellpadding='0', cellspacing='0', width='100%')
                                                                tr
                                                                    td#invisibleIntroduction.flexibleContainerBox(align='left', valign='middle', style='display:none !important; mso-hide:all;')
                                                                        table(border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:100%;')
                                                                            tr
                                                                                td.textContent(align='left')
                                                                                    div(style='font-family:Helvetica,Arial,sans-serif;font-size:13px;color:#828282;text-align:center;line-height:120%;')
                                                                    td.flexibleContainerBox(align='right', valign='middle')
                                                                        table(border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:100%;')
                                                                            tr
                                                                                td.textContent(align='left')
                        table#emailBody(bgcolor='#FFFFFF', border='0', cellpadding='0', cellspacing='0', width='500')
                            tr
                                td(align='center', valign='top')
                                    table(border='0', cellpadding='0', cellspacing='0', width='100%', style='color:#FFFFFF;', bgcolor='#db670e')
                                        tr
                                            td(align='center', valign='top')
                                                table.flexibleContainer(border='0', cellpadding='0', cellspacing='0', width='500')
                                                    tr
                                                        td.flexibleContainerCell(align='center', valign='top', width='500')
                                                            table(border='0', cellpadding='30', cellspacing='0', width='100%')
                                                                tr
                                                                    td.textContent(align='center', valign='top')
                                                                        h1(style='color:#FFFFFF;line-height:100%;font-family:Helvetica,Arial,sans-serif;font-size:25px;font-weight:normal;margin-bottom:5px;text-align:center;')
                                                                            | Thuan Nguyen
                            block content
                            tr
                                td(align='center', valign='top')
                                    table(border='0', cellpadding='0', cellspacing='0', width='100%', bgcolor='#F8F8F8')
                                        tr
                                            td(align='center', valign='top')
                                                table.flexibleContainer(border='0', cellpadding='0', cellspacing='0', width='500')
                                                    tr
                                                        td.flexibleContainerCell(align='center', valign='top', width='500')
                                                            table(border='0', cellpadding='30', cellspacing='0', width='100%')
                                                                tr
                                                                    td(align='center', valign='top')
                                                                        table(border='0', cellpadding='0', cellspacing='0', width='100%')
                                                                            tr
                                                                                td.textContent(valign='top')
                                                                                    div
                                                                                        table(cellpadding='0', cellspacing='0', width='473 ', style='font-size:12px;border-collapse:collapse; solid rgb(243,123,1);font-family:arial;color:rgb(58,54,55)')
                                                                                            tbody(style='font-size:12.0012px')
                                                                                                tr(style='font-size:12.0024px')
                                                                                                    td(style='font-size:12.0036px;padding:0px;text-align:initial')
                                                                                                        span(style='')
                                                                                                            b(style='font-size:12px;color:rgb(243,123,1)')
                                                                                                                | Thuan Nguyen  - Broker
                                                                                            tbody
                                                                                                tr
                                                                                                    td(width='115', style='width:50.0pt;border:none;border-top:solid #F37B01 1.0pt;\
                                                  padding:0in 5.4pt 0in 1pt;height:3.75pt')
                                                                                        table(border='0', style='font-size:15.0225px;border-collapse:collapse;color:rgb(47,59,76);width:440px;font-family:arial')
                                                                                            tbody(style='font-size:15.024px')
                                                                                                tr(valign='top', style='font-size:15.0255px')
                                                                                                    td(style='font-size:15.027px;padding:0px;max-width:300px;width:70px')
                                                                                                        img.m_1064685436366565858m_-4357432125818853879gmail-CToWUd.m_1064685436366565858CToWUd.CToWUd(src='https://lh3.googleusercontent.com/OfnoAG5c3RS3GdVl6lW12ykK7aCyCza6PP8oeWJHWtGjGkfZll9y6UNlyK4eB0cc26nRDVDr4xygg8OuXtVA_w', width='94', height='94', alt='photo', style='font-size:15.0285px;border:0px;vertical-align:middle;max-height:295px;border-radius:4px;margin-right:0px')
                                                                                                    td(style='font-size:15.027px;padding:0px 10px;text-align:initial;color:rgb(78,75,76)')
                                                                                                        a(style='font-size:12px;color:rgb(78,75,76);text-decoration:none;background-color:transparent', target='_blank', href='tel:(408) 292-9222')
                                                                                                            | (408)
                                                                                                            | 292-9222
                                                                                                            br(style='font-size:15.0285px')
                                                                                                        a(href='mailto:thuan@loanfactory.com', style='font-size:12px;color:rgb(78,75,76);text-decoration:none;background-color:transparent', target='_blank') thuan@loanfactory.com
                                                                                                        a(href='http://www.loanfactory.com/', rel='nofollow', style='color:rgb(78,75,76);font-size:12.8px;background-color:transparent;text-decoration:none', target='_blank')  www.
                                                                                                            b(style='color:rgb(34,34,34)')
                                                                                                                i
                                                                                                                    span(style='line-height:21.4667px;color:rgb(255,153,0)') L
                                                                                                            b(style='color:rgb(34,34,34)')
                                                                                                                i
                                                                                                                    span(style='line-height:18.4px') oan
                                                                                                            b(style='color:rgb(34,34,34)')
                                                                                                                i
                                                                                                                    span(style='line-height:21.4667px;color:rgb(255,153,0)') F
                                                                                                            b(style='color:rgb(34,34,34)')
                                                                                                                i
                                                                                                                    span(style='line-height:18.4px') actory
                                                                                                            span(style='font-size:12px') .com
                                                                                                        br(style='font-size:15.0285px')
                                                                                                        span(style='font-size:12px')
                                                                                                            | NMLS:
                                                                                                            a(style='color:rgb(78,75,76);font-size:12.8px;background-color:transparent;text-decoration:none', href='http://www.nmlsconsumeraccess.org/Home.aspx/SubSearch?searchText=320775', target='_blank') #320775
                                                                                                            |                 -
                                                                                                            a(style='color:rgb(78,75,76);font-size:12.8px;background-color:transparent;text-decoration:none', href='http://www.nmlsconsumeraccess.org/Home.aspx/SubSearch?searchText=01491895', target='_blank') #01491895
                                                                                                            a
                                                                                                            br(style='font-size:15.0285px')
                                                                                                            span(style='font-size:12px')
                                                                                                                | 639 Tully Road, Suite C, San Jose, CA 95111
                                                                                                                br
                                                                                                            span.im
                                                                                                                div(style='font-size:15.0285px;padding-top:3px')
                                                                                                                    a(href='https://www.facebook.com/LoanFactoryHQ/', target='_blank')
                                                                                                                        img(width='24', height='24', src='https://storage.googleapis.com/lender-rate/CDN/loanfactory/img/icon/facebook_32.png', style='display: inline')
                                                                                                                    a(href='https://twitter.com/loanfactoryhq', target='_blank')
                                                                                                                        img(width='24', height='24', src='https://storage.googleapis.com/lender-rate/CDN/loanfactory/img/icon/twitter.png', style='display: inline')
                                                                                                                    a(href='https://www.yelp.com/biz/loan-factory-san-jose', target='_blank')
                                                                                                                        img(width='24', height='24', src='https://storage.googleapis.com/lender-rate/CDN/loanfactory/img/icon/yep.png', style='display: inline')
                                                                                                                    a(href='https://www.google.com/maps/place/Loan+Factory/@37.309629,-121.846255,15z/data=!4m2!3m1!1s0x0:0x2605c12e4c8f9225?sa=X&ved=0ahUKEwiV7YmRrtjPAhVJsVQKHUVABzQQ_BIIZjAK', target='_blank')
                                                                                                                        img(width='24', height='24', src='https://storage.googleapis.com/lender-rate/CDN/loanfactory/img/icon/google_plus.png', style='display: inline')
                                                                                        p(style='font-size: 10.5px;')
                                                                                            em
                                                                                                span(style='font-family: arial;')
                                                                                                    | *This message may contain confidential information. If you are not the addressee or authorized to receive this for the addressee, you must not use, copy, disclose, or take any action based on this message or any information herein. If you have received this message in error, please advise the sender immediately by reply e-mail and delete this message. Thank you for your cooperation.
                        table#emailFooter(bgcolor='#E1E1E1', border='0', cellpadding='0', cellspacing='0', width='500')
                            tr
                                td(align='center', valign='top')
                                    table(border='0', cellpadding='0', cellspacing='0', width='100%')
                                        tr
                                            td(align='center', valign='top')
                                                table.flexibleContainer(border='0', cellpadding='0', cellspacing='0', width='500')
                                                    tr
                                                        td.flexibleContainerCell(align='center', valign='top', width='500')
                                                            table(border='0', cellpadding='30', cellspacing='0', width='100%')
                                                                tr
                                                                    td(valign='top', bgcolor='#E1E1E1')
                                                                        div(style='font-family:Helvetica,Arial,sans-serif;font-size:13px;color:#828282;text-align:center;line-height:120%;')
                                                                            div
                                                                                | Copyright © 2017
                                                                                a(href='http://thuannguyen.com/', target='_blank', style='text-decoration:none;color:#828282;')
                                                                                    span(style='color:#828282;')
                                                                                    | Thuan Nguyen
                                                                                | .
                                                                                |                                                                         All rights reserved.
                                                                            div
                                                                                | If you do not want to receive emails from us,
                                                                                | you can
                                                                                a(href='#', target='_blank', style='text-decoration:none;color:#828282;')
                                                                                    span(style='color:#828282;') unsubscribe
                                                                                | .
